* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
}

main {
  max-width: 100rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: #1c1c1c;
}

.header {
  padding-inline: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.5rem;
  background-color: #824504;
  width: 100%;
}
.header .header__icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url(../assets/icons/menu.svg);
  background-size: 100%;
  left: 2rem;
  top: calc(50% - 10px);
}
.header .header__logo {
  width: 15rem;
}
.header .nav {
  width: 15rem;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  height: 20rem;
  background-color: #824504;
  top: 6.5rem;
  left: -15rem;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.header .nav .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .nav .nav__ul .nav__item {
  list-style: none;
}
.header .nav .nav__ul .nav__item .nav__link {
  font-size: 1.6rem;
  color: #fff;
}
.header .nav.active {
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
}

@media screen and (min-width: 768px) {
  .header .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100rem;
  }
  .header .header__content .nav {
    display: block;
    position: static;
    width: 35rem;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__content .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__content .nav__item {
    list-style: none;
  }
  .header .header__content .nav__link {
    font-size: 1.6rem;
    color: #fff;
  }
  .header .header__content .header__icon {
    display: none;
  }
}
.button__link, .button__link--user {
  display: inline-block;
  background-color: #3a8c00;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.7rem;
}
.button__link--user {
  font-size: 1.3rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}
.button__link:visited, .button__link--user:visited {
  color: white;
}

.section__grid {
  width: 100%;
  max-width: 111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.section__title {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  color: #1c1c1c;
  margin-block: 2rem;
  text-decoration: underline;
}

.pd__section {
  padding: 2rem;
}

.tarjeta {
  width: 100%;
  max-width: 25rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  margin: 2rem;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px #989898;
          box-shadow: 0px 0px 5px 0px #989898;
}
.tarjeta__imagen {
  width: 11rem;
  height: 11rem;
  border-radius: 20rem;
  overflow: hidden;
  border: 1px solid #1c1c1c;
}

.subtitle__card, .subtitle__card--perfil {
  font-style: italic;
  text-decoration: none;
  font-size: 1.8rem;
}
.subtitle__card--perfil {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.title__card {
  color: #1c1c1c;
  text-align: center;
  font-size: 2.1rem;
  text-align: center;
}

footer {
  padding-inline: 2rem;
  height: 6.5rem;
  background-color: #824504;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #fff;
}

.caja {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 27rem;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 0px 5px 0px #989898;
          box-shadow: 0px 0px 5px 0px #989898;
}
.caja .caja__imagen {
  width: 100%;
}
.caja .caja__contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.caja .caja__contenido > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.caja .caja__contenido > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.caja .caja__contenido > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.caja .caja__contenido > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.caja .caja__contenido .caja__usuario {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30rem;
  overflow: hidden;
  border: 1px solid #1c1c1c;
}
.caja .caja__contenido .title__card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #1c1c1c;
  text-align: center;
  font-size: 2.1rem;
}
.caja .caja__contenido p {
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-style: italic;
}

.hero {
  width: 100%;
  position: relative;
}

.text_content {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(28, 28, 28, 0.8);
  padding: 2rem;
  border-radius: 0.7rem;
  top: -3rem;
}
.text_content p {
  color: #fff;
  font-size: 1.8rem;
}

.tituloPrincipal a {
  font-family: "Roboto", sans-serif;
  font-size: 2.7rem;
  color: #fff;
  text-decoration: none;
}
.tituloPrincipal a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 760px) {
  .text_content {
    width: 30%;
    position: absolute;
    top: calc(50% - 13.5rem);
    right: 1rem;
    margin: 1px;
  }
}