* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
}

main {
  max-width: 100rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: #1c1c1c;
}

.header {
  padding-inline: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.5rem;
  background-color: #824504;
  width: 100%;
}
.header .header__icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-image: url(../assets/icons/menu.svg);
  background-size: 100%;
  left: 2rem;
  top: calc(50% - 10px);
}
.header .header__logo {
  width: 15rem;
}
.header .nav {
  width: 15rem;
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  height: 20rem;
  background-color: #824504;
  top: 6.5rem;
  left: -15rem;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.header .nav .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header .nav .nav__ul .nav__item {
  list-style: none;
}
.header .nav .nav__ul .nav__item .nav__link {
  font-size: 1.6rem;
  color: #fff;
}
.header .nav.active {
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
}

@media screen and (min-width: 768px) {
  .header .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100rem;
  }
  .header .header__content .nav {
    display: block;
    position: static;
    width: 35rem;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header__content .nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__content .nav__item {
    list-style: none;
  }
  .header .header__content .nav__link {
    font-size: 1.6rem;
    color: #fff;
  }
  .header .header__content .header__icon {
    display: none;
  }
}
.button__link, .button__link--user {
  display: inline-block;
  background-color: #3a8c00;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
  border-radius: 0.7rem;
}
.button__link--user {
  font-size: 1.3rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}
.button__link:visited, .button__link--user:visited {
  color: white;
}

.section__grid {
  width: 100%;
  max-width: 111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.section__title {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
  color: #1c1c1c;
  margin-block: 2rem;
  text-decoration: underline;
}

.pd__section {
  padding: 2rem;
}

.tarjeta {
  width: 100%;
  max-width: 25rem;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  margin: 2rem;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px #989898;
          box-shadow: 0px 0px 5px 0px #989898;
}
.tarjeta__imagen {
  width: 11rem;
  height: 11rem;
  border-radius: 20rem;
  overflow: hidden;
  border: 1px solid #1c1c1c;
}

.subtitle__card, .subtitle__card--perfil {
  font-style: italic;
  text-decoration: none;
  font-size: 1.8rem;
  color: #1c1c1c;
}
.subtitle__card--perfil {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}

.title__card {
  color: #1c1c1c;
  text-align: center;
  font-size: 2.1rem;
  text-align: center;
}

footer {
  padding-inline: 2rem;
  height: 6.5rem;
  background-color: #824504;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  color: #fff;
}

.caja {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 27rem;
  height: 100%;
  min-height: 26.2rem;
  max-height: 27rem;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 0px 5px 0px #989898;
          box-shadow: 0px 0px 5px 0px #989898;
}
.caja .caja__imagen {
  width: 100%;
  height: 13rem;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.caja .caja__contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.caja .caja__contenido > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.caja .caja__contenido > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.caja .caja__contenido > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.caja .caja__contenido > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.caja .caja__contenido .caja__usuario {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30rem;
  overflow: hidden;
  border: 1px solid #1c1c1c;
}
.caja .caja__contenido .title__card {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  color: #1c1c1c;
  text-align: center;
  font-size: 2.1rem;
}
.caja .caja__contenido p {
  color: #1c1c1c;
  text-align: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-style: italic;
}

.principal {
  width: 100%;
  max-width: 40rem;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1rem 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 2.5rem 1rem 2rem 1rem 3rem 1rem 2rem;
  grid-template-rows: 2.5rem 2rem 3rem 2rem;
  grid-gap: 1rem;
}

.principal > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.principal > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.principal > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.principal > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.principal > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.principal > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.principal > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.principal > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.principal__image {
  border-radius: 30rem;
  width: 7rem;
  max-width: 14rem;
  height: 7rem;
  max-height: 14rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  overflow: hidden;
  border: 1px solid #1c1c1c;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: start;
      align-self: start;
}
.principal__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.5rem;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.principal__quote {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1rem;
  -ms-grid-row-align: center;
      align-self: center;
}
.principal__date {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  font-size: 1.4rem;
}

.stickers, .photos {
  max-width: 70rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stickers__content, .photos__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x proximity;
      scroll-snap-type: x proximity;
}
.stickers__content::-webkit-scrollbar, .photos__content::-webkit-scrollbar {
  background-color: rgba(130, 69, 4, 0.1);
  height: 3px;
}
.stickers__content::-webkit-scrollbar-thumb, .photos__content::-webkit-scrollbar-thumb {
  background-color: #824504;
}
.stickers__item {
  scroll-snap-align: center;
  min-width: 12rem;
  max-width: 12rem;
  height: 12rem;
  -webkit-margin-end: 1.4rem;
          margin-inline-end: 1.4rem;
  -webkit-margin-after: 1.4rem;
          margin-block-end: 1.4rem;
}

.title__flex {
  width: 100%;
  -ms-grid-column-align: start;
      justify-self: start;
}

.photos__item {
  scroll-snap-align: center;
  min-width: 20rem;
  max-width: 20rem;
  height: 20rem;
  -webkit-margin-end: 1.4rem;
          margin-inline-end: 1.4rem;
  -webkit-margin-after: 1.4rem;
          margin-block-end: 1.4rem;
}

.song {
  margin: 1rem;
  width: 28rem;
  height: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 0.7rem;
  border: 1px solid #1c1c1c;
  padding: 0.5rem;
}

.song > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.song > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.song > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.song > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.song > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.song > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.song > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.song > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.song > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.song__img {
  height: 5rem;
  width: 5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  background: yellow;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  border-radius: 30rem;
  overflow: hidden;
}
.song__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.song__artist {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.song__time {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
}
.song__link {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}
.song__icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(../assets/icons/play.svg);
  background-size: 100%;
}