@import componentes/_plantilla

main

.hero
	width: 100%
	// height:35rem
.text_content
	width: 90%
	margin: 0 auto
	background-color: transparentize($color__oscuro, .2)
	padding: $espaciado_normal
	position: relative
	border-radius: $border__radius
	top: -3rem
	p 
		color: #fff
		@include text__regular
.tituloPrincipal a
	@include title__h1


