extend pug/_plantilla.pug
block direccionCSS
	link(rel="stylesheet", href="css/blogs.css")
block contenido_main
	main
		h1 Lista de Blogs
		section.pd__section
			.section__grid
				+caja('imagen', 'jeremy', 'Si volvieramos a empezar?', 'Hace unos dias estube pensando en que...', 'blog1.html')
				