extend pug/_plantilla.pug
block contenidos
	main
		h1 Lista de Blogs
		section.section__grid
			+caja('imagen', 'jeremy', 'y si volvieramos a empezar?', 'Hace unos dias estube pensando en que...')
			+caja('imagen', 'jeremy', 'y si volvieramos a empezar?', 'Hace unos dias estube pensando en que...')
			+caja('imagen', 'jeremy', 'y si volvieramos a empezar?', 'Hace unos dias estube pensando en que...')
			+caja('imagen', 'jeremy', 'y si volvieramos a empezar?', 'Hace unos dias estube pensando en que...')