extend pug/_plantilla.pug
block direccionCSS
	link(rel="stylesheet", href="css/blogs.css")
block contenido_main
	main
		section.pd__section
			h1.section__title Lista de Blogs
			.section__grid
				+caja('foto_portada.png','jeremy/jeremy.jpg','Bienvenido a Cerro House','No, no es broma, Cerro House ahora tiene un website superPerron!!!, o eso creo...','blog1.html')
				