extend pug/_plantilla.pug
block direccionCSS
	link(rel="stylesheet", href="css/participantes.css")
block contenido_main
	main
		section.pd__section 
			h1.section__title Participantes
			section.section__grid
				+tarjeta__usuario('jeremy/jeremy.jpg', 'Jeremyispapo', '@Palomino.dev', 'jeremy.html')