extend pug/_plantilla.pug
block contenidos
	main
		h1.tituloPrincipal Participantes
		section.section__grid
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')
			+tarjeta__usuario('Jeremy', 'Jeremyispapo', '@Palomino.dev')