extends ../pug/_plantilla
block contenido_main
	main.pd__section
		section.principal
			block principal
		section.stickers
			block stickers
		section.photos
			block photos
		section.songs.section__grid
			block songs
