extends _plantilla
block principal 
	+principal('jeremy','Jeremyispapo','Palomino.Dev','Tareas hay muchas, vida una sola, asi que...','17/07/21')

block stickers
	+stickers('st1','st2','st3','st4','st5')

block photos 
	+photos('ph1','ph2','ph3')

block songs
	+songs('twenty__pilots.png','Level of Concerted', 'twenty one Pilot','3:15 min', 'https://www.twentyonepilot.com')
	+songs('dualipa.png','Leviating', 'Dua Lipa', '4:20 min', 'https://www.dualipa.com')
	+songs('Daikiri.png', 'Daikiri','Simon Grossmann','3:30 min', 'https://www.simongrossmann.com')
	+songs('todo_de_ti.png','todo_de_ti','Rauw Alejandro','4:20 min','https://www.rauwalejandro.com')