extends _plantilla
block direccionCSS
	link(rel="stylesheet", href="css/plantilla-perfil.css")
block principal 
	+principal('jeremy/jeremy.jpg','Jeremyispapo','https://www.instagram.com/palomino.dev/','Palomino.Dev','Tareas hay muchas, vida una sola, asi que...','17/07/21')

block stickers
	+stickers('jeremy/stickers/st1.webp','jeremy/stickers/st2.webp','jeremy/stickers/st3.webp','jeremy/stickers/st4.webp','jeremy/stickers/st5.webp')

block photos 
	+photos('jeremy/fotos/ft1.jpg','jeremy/fotos/ft2.jpg','jeremy/fotos/ft3.jpg')

block songs
	h2.section__title.title__flex Canciones
	+songs('jeremy/canciones/cn1.jpg','Level of Concern', 'twenty one Pilot','3:52 min', 'https://www.youtube.com/watch?v=loOWKm8GW6A')
	+songs('jeremy/canciones/cn2.jpg','Leviating', 'Dua Lipa', '3:50 min', 'https://www.youtube.com/watch?v=TUVcZfQe-Kw')
	+songs('jeremy/canciones/cn3.jpg', 'Daikiri','Simon Grossmann','3:57 min', 'https://www.youtube.com/watch?v=yJGAEh2gmDE')
	+songs('jeremy/canciones/cn4.jpg','todo de ti','Rauw Alejandro','3:31 min','https://www.youtube.com/watch?v=CFPLIaMpGrY')