extends ../pug/_plantilla
block contenido_main
	main 
		block hero
		section.pd__section
			section.contenido__blog
				article.bloque__texto
					block contenidoBlog
				aside.aside 
					block asideNormal