extends _plantilla
block hero 
	section
block asideNormal
	p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, a!
block contenidoBlog
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, minus optio in mollitia hic repellat eaque vero porro esse quos?