extends _plantilla
block direccionCSS
	link(rel="stylesheet", href="css/plantilla-blog.css", attr)
block hero 
	section.hero
		figure.hero__image
			img(src="assets/images/anuncios_blog/blog6.jpg" alt="f")
		h1.hero__title Mano!, Loki está reintenso
block contenidoBlog
	p.texto__principal Mañana sale el siguiente episodio pero creo que ya fue la línea temporal. Literal van a hacer a lo "volver al futuro" 
	p La Enchantress usó esas vainas de reseteo temporal pes, pero ya había causado problemas antes. En el capítulo 2, Agatha aparecía entre los del pueblo, o sea que ya fregó Wandavision.
	p Además, ¿no crees que lo que dijo la Anciana a Hulk en endgame podría ocurrir por la Enchantress? Capas ya tiene gemas del infinito y lo usa a lo Thanos
	p Verdad verdad, ahora que la Enchantress se fugó sabiendo cómo entrar a la ATV, ¿podría dar pase al Spiderverse? Aún quedaron vacíos con Wanda que está viendo su libro prohibido y capaz la Enchantress da pase al multiverso provocando a Wanda de algún modo.
	p Bueno, eso es todo xd. Loki ya se fugó de Mobius, la Enchantress está suelta y ya están fregando varias líneas temporales. A esperar a que salga el siguiente capítulo.
	+buttons_blog('A oc', 'Mucho Texto', 'ah ya')
block asideNormal
	+tarjeta__usuario('adhrian/adhrian.jpg', 'Adhrian', 'adrh023', 'adhrian.html')