header 
	figure.logo: img(src="assets/images/logo_cerro_house.png")
	.icon_menu
	nav 
		ul
			li: a(href="landing.html") Inicio
			li: a(href="participantes.html") Participantes
			li: a(href="blogs.html") Blog