header.header
	.header__content
		figure.header__logo: img(src="assets/images/logo_cerro_house.png")
		.header__icon#menu 
		nav.nav#nav 
			ul.nav__ul
				li.nav__item: a.nav__link(href="index.html") Inicio
				li.nav__item: a.nav__link(href="blogs.html") Blog
				li.nav__item: a.nav__link(href="participantes.html") Participantes